<h1 class="center">Liste des randonnées</h1>

<div class="container">
  <div class="row">
    <div *ngFor="let hike of hikeList" class="col m4 s6">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="hike.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ hike.title }}</p>
            <p>
              <small>{{ hike.date_hike }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
