<h1>Welcome to {{ title }}!</h1>

<h2>Liste des randonnées</h2>

<input #input (keyup)="(0)" type="text" />
<p>{{ input.value }}</p>

<p>{{ hikeList[0].title }}</p>
<p>{{ hikeList[1].title }}</p>
<p>{{ hikeList[2].title }}</p>
<p>{{ hikeList[3].title }}</p>
<p>{{ hikeList[4].title }}</p>
<p>{{ hikeList[5].title }}</p>
<p>{{ hikeList[6].title }}</p>
<p>{{ hikeList[7].title }}</p>
<p>{{ hikeList[8].title }}</p>
<p>{{ hikeList[9].title }}</p>
<p>{{ hikeList[10].title }}</p>
<p>{{ hikeList[11].title }}</p>
