<div class="row">
  <div class="col-md-8">
    <h2>Toutes les randonnées classées par date</h2>

    <div id="journey-list">
      <ul *ngFor="let hikingYear of hikingYearList$ | async">
        <li class="journey-year">{{ hikingYear.year }}</li>
        <li class="journey-item" *ngFor="let hike of hikingYear.hikes">
          <span class="date">{{ hike.doneAt }}</span>
          <a
            routerLink="/Randonnée/Raquettes"
            class="badge badge-secondary category"
            >{{ hike.activityType }}</a
          >
          &nbsp;
          <span
            class="d-inline-block mb-2 massif"
            ngClass="{{ hike.massif.name | lowercase }}"
          >
            <fa-icon [icon]="faMountain"></fa-icon> {{ hike.massif.name }}
          </span>
          &nbsp;
          <a class="journey-item-link" href="">{{ hike.title }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="sidebar-statistics" class="col-md-4">
    <app-homepage-sidebar></app-homepage-sidebar>
  </div>
</div>
