<div class="row">
  <div class="col-md-8">
    <h2>Toutes les randonnées classées par date</h2>

    <div id="journey-list">
      <ul class="">
        <li class="sidenotes">2022</li>
        <li>
          <span class="date">26 fev.</span>
          <a routerLink="/rando/raquette" class="badge badge-secondary category"
            >Raquette</a
          >
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href="">Sortie nocturne dans les Coulmes</a>
        </li>
        <li>
          <span class="date">12 fev.</span>
          <a href="" class="badge badge-secondary category">Raquette</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href="">La cabane de Carette en suivant le GR91</a>
        </li>
        <li>
          <span class="date">22 janv.</span>
          <a href="" class="badge badge-secondary category">Raquette</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif beaufortain">
            <i class="fas fa-mountain"></i> Beaufortain
          </span>
          &nbsp;
          <a href="">Roche Parstire depuis le Col du Pré</a>
        </li>
        <li>
          <span class="date">15 janv.</span>
          <a href="" class="badge badge-secondary category">Raquette</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Boucle Emeindras du dessus et Col de Emeindras</a>
        </li>
        <li>
          <span class="date">08 janv. </span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">L'Ecoutoux</a>
        </li>
        <li class="sidenotes">2021</li>
        <li>
          <span class="date">26 déc.</span>
          <a href="" class="badge badge-secondary category">Raquette</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Auberge du Charmant-Som depuis le Col de Porte</a>
        </li>
        <li>
          <span class="date">12 nov.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Le Col de l'Aple et le sommet du Pinet</a>
        </li>
        <li>
          <span class="date">31 oct.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">GRP Chartreuse Epernay</a>
        </li>
        <li>
          <span class="date">26 sept.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href="">Le Moucherotte et le Sommet des Cimes</a>
        </li>
        <li>
          <span class="date">13 sept.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif beaufortain">
            <i class="fas fa-mountain"></i> Beaufortain
          </span>
          &nbsp;
          <a href="">Le Rocher du Vent avec détour par le tunnel</a>
        </li>
        <li>
          <span class="date">23 août</span>
          <a href="" class="badge badge-secondary category">Voyage</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif etranger">
            <i class="fas fa-plane"></i> Suisse
          </span>
          &nbsp;
          <a href="">Mannlichen</a>
        </li>
        <li>
          <span class="date">22 août</span>
          <a href="" class="badge badge-secondary category">Voyage</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif etranger">
            <i class="fas fa-plane"></i> Suisse
          </span>
          &nbsp;
          <a href="">Lauterbrunnen</a>
        </li>
        <li>
          <span class="date">21 août</span>
          <a href="" class="badge badge-secondary category">Voyage</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif etranger">
            <i class="fas fa-plane"></i> Suisse
          </span>
          &nbsp;
          <a href="">Kandersteg</a>
        </li>
        <li>
          <span class="date">20 août</span>
          <a href="" class="badge badge-secondary category">Voyage</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif etranger">
            <i class="fas fa-plane"></i> Suisse
          </span>
          &nbsp;
          <a href="">Gstaad</a>
        </li>
        <li>
          <span class="date">08 août</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif belledonne">
            <i class="fas fa-mountain"></i> Belledonne
          </span>
          &nbsp;
          <a href="">La croix de Chamrousse</a>
        </li>
        <li>
          <span class="date">26 juin</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href="">Le Bec de l'Orient par le Pas de la Cle et Fessol</a>
        </li>
        <li>
          <span class="date">19 juin</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href=""
            >Boucle Col-Vert depuis les Clots et retour par la Combe
            Charbonnière</a
          >
        </li>
        <li>
          <span class="date">29 mai</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href=""
            >Boucle le Petit-Som depuis le Habert par le Col de Lechaux et le
            Pas du Loup</a
          >
        </li>
        <li>
          <span class="date">20 mai</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif taillefer">
            <i class="fas fa-mountain"></i> Taillefer
          </span>
          &nbsp;
          <a href="">Boucle la Pierre Percée</a>
        </li>
        <li>
          <span class="date">08 mai</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href=""
            >Pravouta et le Roc Arguille en boucle par le Col du Coq et Habert
            de Pravouta</a
          >
        </li>
        <li>
          <span class="date">27 mars</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href="">La dent du Loup par le plateau du Sornin</a>
        </li>
        <li>
          <span class="date">20 mars</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Le chalet refuge de la Scia depuis Cochatiere</a>
        </li>
        <li>
          <span class="date">06 mars</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Boucle col de La Ruchere par les Riondelles</a>
        </li>
        <li>
          <span class="date">06 fev.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Boucle Roche Brune depuis les Gorges du Bret</a>
        </li>
        <li>
          <span class="date">09 janv.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a href=""
            >Boucle 45e parallèle et cabane de Carette depuis golf de
            Correncon</a
          >
        </li>
        <li class="sidenotes">2020</li>
        <li>
          <span class="date">15 janv.</span>
          <a href="" class="badge badge-secondary category">Rando</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Boucle Emeindras du dessus et Col de Emeindras</a>
        </li>
        <li>
          <span class="date">15 janv.</span>
          <a href="" class="badge badge-secondary category">Voyage</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a href="">Boucle Emeindras du dessus et Col de Emeindras</a>
        </li>
        <li class="sidenotes">2017</li>
        <li>
          <span class="date">15 aout</span>
          <a href="" class="badge badge-secondary category">Voyage</a>
          &nbsp;
          <span class="d-inline-block mb-2 massif etranger">
            <i class="fas fa-plane"></i> Norvège
          </span>
          &nbsp;
          <a href="">Plate-forme d'observation de Rampestreken</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="sidebar-statistics" class="col-md-4">
    <app-homepage-sidebar></app-homepage-sidebar>
  </div>
</div>
