<div id="main" role="main" class="col-md-8">
  <h2>Toutes les sorties classées par date</h2>

  <section lang="fr">
    <ul class="journey-list">
      <li class="sidenotes">2022</li>
      <li>
        <span class="date">15 mars </span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Ruines et plages de Tulum - aéroport de Cancun</a>
      </li>
      <li>
        <span class="date">14 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Merida - Tulum</a>
      </li>
      <li>
        <span class="date">13 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Merida - Misnébalam</a>
      </li>
      <li>
        <span class="date">12 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Merida - Progresso</a>
      </li>
      <li>
        <span class="date">11 mars </span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Progresso - Chuburna beach - Merida</a>
      </li>
      <li>
        <span class="date">10 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Chichen Itza - Celestun</a>
      </li>
      <li>
        <span class="date">09 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Mayapan - Izamal - Telchac</a>
      </li>
      <li>
        <span class="date">08 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Ruta Puuc</a>
      </li>
      <li>
        <span class="date">07 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Progresso</a>
      </li>
      <li>
        <span class="date">06 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Homun - Temozón Sur</a>
      </li>
      <li>
        <span class="date">05 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Chuburna Beach</a>
      </li>
      <li>
        <span class="date">04 mars </span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Holbox - Merida</a>
      </li>
      <li>
        <span class="date">03 mars </span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Cancun - Holbox</a>
      </li>
      <li>
        <span class="date">02 mars</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Mexique
        </span>
        &nbsp;
        <a lang="fr" href="">Cancun</a>
      </li>
      <li>
        <span class="date">26 fev.</span>
        <a href="" class="badge badge-secondary category">Raquette</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href="">Sortie nocturne dans les Coulmes</a>
      </li>
      <li>
        <span class="date">12 fev.</span>
        <a href="" class="badge badge-secondary category">Raquette</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href="">La cabane de Carette en suivant le GR91</a>
      </li>
      <li>
        <span class="date">22 janv.</span>
        <a href="" class="badge badge-secondary category">Raquette</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif beaufortain">
          <i class="fas fa-mountain"></i> Beaufortain
        </span>
        &nbsp;
        <a lang="fr" href="">Roche Parstire depuis le Col du Pré</a>
      </li>
      <li>
        <span class="date">15 janv.</span>
        <a href="" class="badge badge-secondary category">Raquette</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Boucle Emeindras du dessus et Col de Emeindras</a>
      </li>
      <li>
        <span class="date">08 janv. </span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">L'Ecoutoux</a>
      </li>
      <li class="sidenotes">2021</li>
      <li>
        <span class="date">26 déc.</span>
        <a href="" class="badge badge-secondary category">Raquette</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Auberge du Charmant-Som depuis le Col de Porte</a>
      </li>
      <li>
        <span class="date">12 nov.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Le Col de l'Aple et le sommet du Pinet</a>
      </li>
      <li>
        <span class="date">31 oct.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">GRP Chartreuse Epernay</a>
      </li>
      <li>
        <span class="date">26 sept.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href="">Le Moucherotte et le Sommet des Cimes</a>
      </li>
      <li>
        <span class="date">13 sept.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif beaufortain">
          <i class="fas fa-mountain"></i> Beaufortain
        </span>
        &nbsp;
        <a lang="fr" href="">Le Rocher du Vent avec détour par le tunnel</a>
      </li>
      <li>
        <span class="date">23 août</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Suisse
        </span>
        &nbsp;
        <a lang="fr" href="">Mannlichen</a>
      </li>
      <li>
        <span class="date">22 août</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Suisse
        </span>
        &nbsp;
        <a lang="fr" href="">Lauterbrunnen</a>
      </li>
      <li>
        <span class="date">21 août</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Suisse
        </span>
        &nbsp;
        <a lang="fr" href="">Kandersteg</a>
      </li>
      <li>
        <span class="date">20 août</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Suisse
        </span>
        &nbsp;
        <a lang="fr" href="">Gstaad</a>
      </li>
      <li>
        <span class="date">08 août</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif belledonne">
          <i class="fas fa-mountain"></i> Belledonne
        </span>
        &nbsp;
        <a lang="fr" href="">La croix de Chamrousse</a>
      </li>
      <li>
        <span class="date">26 juin</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href=""
          >Le Bec de l'Orient par le Pas de la Cle et Fessol</a
        >
      </li>
      <li>
        <span class="date">19 juin</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href=""
          >Boucle Col-Vert depuis les Clots et retour par la Combe
          Charbonnière</a
        >
      </li>
      <li>
        <span class="date">29 mai</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href=""
          >Boucle le Petit-Som depuis le Habert par le Col de Lechaux et le Pas
          du Loup</a
        >
      </li>
      <li>
        <span class="date">20 mai</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif taillefer">
          <i class="fas fa-mountain"></i> Taillefer
        </span>
        &nbsp;
        <a lang="fr" href="">Boucle la Pierre Percée</a>
      </li>
      <li>
        <span class="date">08 mai</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href=""
          >Pravouta et le Roc Arguille en boucle par le Col du Coq et Habert de
          Pravouta</a
        >
      </li>
      <li>
        <span class="date">27 mars</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href="">La dent du Loup par le plateau du Sornin</a>
      </li>
      <li>
        <span class="date">20 mars</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Le chalet refuge de la Scia depuis Cochatiere</a>
      </li>
      <li>
        <span class="date">06 mars</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Boucle col de La Ruchere par les Riondelles</a>
      </li>
      <li>
        <span class="date">06 fev.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Boucle Roche Brune depuis les Gorges du Bret</a>
      </li>
      <li>
        <span class="date">09 janv.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif vercors">
          <i class="fas fa-mountain"></i> Vercors
        </span>
        &nbsp;
        <a lang="fr" href=""
          >Boucle 45e parallèle et cabane de Carette depuis golf de Correncon</a
        >
      </li>
      <li class="sidenotes">2020</li>
      <li>
        <span class="date">15 janv.</span>
        <a href="" class="badge badge-secondary category">Rando</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Boucle Emeindras du dessus et Col de Emeindras</a>
      </li>
      <li>
        <span class="date">15 janv.</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif chartreuse">
          <i class="fas fa-mountain"></i> Chartreuse
        </span>
        &nbsp;
        <a lang="fr" href="">Boucle Emeindras du dessus et Col de Emeindras</a>
      </li>
      <li class="sidenotes">2017</li>
      <li>
        <span class="date">15 aout</span>
        <a href="" class="badge badge-secondary category">Voyage</a>
        &nbsp;
        <span class="d-inline-block mb-2 massif etranger">
          <i class="fas fa-plane"></i> Norvège
        </span>
        &nbsp;
        <a lang="fr" href="">Plate-forme d'observation de Rampestreken</a>
      </li>
    </ul>
  </section>
</div>

<div id="statistics" class="col-md-4">
  <app-homepage-sidebar></app-homepage-sidebar>
</div>
