div #journey-list {
  overflow: hidden;
  padding-left: 62px;
  padding-top: 20px;
  position: relative;

  .sidenotes {
    position: absolute;
    left: 2px;
    width: 60px;
  }
}

ul {
  list-style: none;
  padding-left: 1rem;

  .sidenotes {
    position: absolute;
    top: auto;
    letter-spacing: 1px;
    font-weight: bold;
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span.date {
      float: left;
      width: 90px;
      margin-right: 10px;
      text-align: right;
    }

    .massif {
      font-size: 14px;
      font-weight: bold;
    }

    .chartreuse {
      color: #0d6efd;
    }

    .vercors {
      color: #6c757d;
    }

    .belledonne {
      color: #198754;
    }

    .taillefer {
      color: #dc3545;
    }

    .beaufortain {
      color: #ffc107;
    }

    .chablais {
      color: #000000;
    }

    .etranger {
      color: #0dcaf0;
    }

    a.category {
      text-decoration: none;
      color: #ccc;
      background: #333;
      font-size: 0.8em;
      padding: 2px 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 90px;
    }

    a.category:hover {
      color: #fff;
    }
  }
}
