<div class="card">
  <div class="card-body">
    <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

    <div class="news">
      <div class="post-item clearfix">
        <i class="fa-solid fa-person-hiking"></i>
        <h4>Activités</h4>
        <p>
          Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut
          harum...
        </p>
      </div>
      <div class="post-item clearfix">
        <i class="fa-solid fa-person-hiking"></i>
        <h4>Massifs</h4>
        <p>
          Illo nemo neque maiores vitae officiis cum eum turos elan dries werona
          nande...
        </p>
      </div>
      <div class="post-item clearfix">
        <i class="fa-solid fa-person-hiking"></i>
        <h4>Dénivelé</h4>
        <p>
          Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et
          totam...
        </p>
      </div>
      <div class="post-item clearfix">
        <i class="fa-solid fa-person-hiking"></i>
        <h4>Distance</h4>
        <p>
          Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum
          cuder...
        </p>
      </div>
    </div>
  </div>
</div>
