<div id="statistiques-annuelles" class="card mb-5">
  <h3 class="card-header">Statistiques annuelles</h3>

  <div class="card-body">
    <h4 class="card-title">2023</h4>

    <div>
      <div class="post-item clearfix">
        <ul>
          <li>Nombre randonnées faites : <b>24</b></li>
          <li>Distance parcourue : <b>341,49 km</b></li>
          <li>Dénivelé positif : <b>22111 m</b></li>
          <li>Altitude max atteinte : <b>3016 m</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="statistiques-totales" class="card mb-5">
  <h3 class="card-header">Statistiques totales</h3>

  <div class="card-body">
    <div>
      <div class="post-item clearfix">
        <ul>
          <li>Nombre randonnées faites : <b>81</b></li>
          <li>Distance parcourue : <b>938,55 km</b></li>
          <li>Dénivelé positif : <b>56726 m</b></li>
          <li>Altitude max atteinte : <b>3016 m</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>
